<div class="Add-Saldo">
  <div class="janela_review">
    <div class="barra_azul">
      <img src="<%= asset_path('icone-windows.jpg') %>" alt="iconezinho windows">
      <%= ". Adicionar saldo à conta"%>

      <div class="botao-exit">
        <button type="submit">
          <%= link_to "X", @cliente %>       
        </button>
      </div>
    </div>

    <div class="review_data">
      <%= form_with url: add_saldo_path(@cliente), method: :patch, local: true do |form| %>

        <div class="caixa_atributo_valor">
          <div class="atributo">
            Valor a adicionar:
          </div>
          <%= form.number_field :valor, step: 0.01, min: 0 %>
        </div>

        <div class="actions">
          <%= form.submit "Adicionar Saldo" %>
        </div>
      <% end %>
    </div>
  </div>
</div>