<!-- IMPLEMENTAR DESTROY DA REVIEW CASO O CURRENT_USER SEJA O USER DA REVIEW-->
<div class="reviews_show">
    <% if defined?(produto) && produto.present? %>
        <% reviews_produto = ReviewProduto.where(produto_id: produto.id) %>
        <% reviews_produto.each do |review| %>
            <div class="janela_review">
                <div class="barra_azul">
                    <img src="<%= asset_path('icone-windows.jpg') %>" alt="iconezinho windows">
                            
                    <%=". Review de #{review.cliente.user.nome}"%>
                    <div class="botao-exit">
                        <button type="submit">
                            <span>X</span>
                        </button>
                    </div>
                </div>

                <div class="review_data">
                    <div class="caixa_atributo_valor">
                        <div class="atributo">
                            Nota
                        </div>
                        <div class="valor_nota">
                            <%=" #{review.nota}/5"%>
                        </div>
                    </div>
                    Comentario
                    <div class="caixa_atributo_valor">
                        <div class="valor">
                            <%=" #{review.comentario}"%>
                        </div>
                    </div>
                </div>
            </div>
        <% end %>
    <% elsif defined?(cliente) && cliente.present? %>
        <% reviews_cliente = ReviewProduto.where(cliente_id: cliente.id) %>
        <% reviews_cliente.each do |review| %>
            <div class="janela_review">
                <div class="barra_azul">
                    <img src="<%= asset_path('icone-windows.jpg') %>" alt="iconezinho windows">
                    
                    <% if review.produto.nil? %>
                        <%=". #{review.vendedor.user.nome}"%>
                    <% else %>
                        <%=". #{review.produto.nome}"%>
                    <% end %>
                    <div class="botao-exit">
                        <button type="submit">
                            <span>X</span>
                        </button>
                    </div>

                </div>

                <div class="review_data">
                    <div class="caixa_atributo_valor">
                        <div class="atributo">
                            Nota
                        </div>
                        <div class="valor_nota">
                            <%=" #{review.nota}/5"%>
                        </div>

                        <%= form_with url: review_produto_path(review), method: :delete, local: true do %>
                            <button class="delete-button">
                                <img src="<%= asset_path('windows_lixeira.png') %>" alt="Excluir Review", class="imagem_lixeira">
                            </button>
                        <% end %>
                    </div>
                            

                    Comentario
                    <div class="caixa_atributo_valor">
                        <div class="valor">
                            <%=" #{review.comentario}"%>
                        </div>
                    </div>
                </div>
            </div>
        <% end %>
    <% end %>
</div>