<div class="nova_conta_view">
  <div class="janela_nova_conta">
    <div class="barra_azul">
      <img src="<%= asset_path('icone-windows.jpg') %>" alt="iconezinho windows">
      <%= ". Atualizar os dados da sua conta"%>
      <div class="botao-exit">
        <button type="submit">
          <%= link_to "X", home_user_path%>       
        </button>
      </div>
    </div>

    <div class="nova_conta_data">
      <%= form_for(resource, as: resource_name, url: registration_path(resource_name), html: { method: :put }) do |f| %>
        <%= render "devise/shared/error_messages", resource: resource %>

        <div class="caixa_atributo_valor">
          <div class="atributo">
            Email
          </div>
          <%= f.email_field :email %>
        </div>

        <div class="caixa_atributo_valor">
          <div class="atributo">
            Telefone
          </div>
          <%= f.text_field :telefone %>
        </div>

        <div class="caixa_atributo_valor">
          <div class="atributo">
            Endereço
          </div>
          <%= f.text_field :endereco %>
        </div>

        <% if devise_mapping.confirmable? && resource.pending_reconfirmation? %>
          <div>Currently waiting confirmation for: <%= resource.unconfirmed_email %></div>
        <% end %>

       <div class="field">
        <%= f.label :password %> <i>(leave blank if you don't want to change it)</i><br />
        <%= f.password_field :password, autocomplete: "new-password" %>
        <% if @minimum_password_length %>
          <br />
          <em><%= @minimum_password_length %> characters minimum</em>
        <% end %>
      </div>

      <div class="field">
        <%= f.label :password_confirmation %><br />
        <%= f.password_field :password_confirmation, autocomplete: "new-password" %>
      </div>
      
        <div class="actions">
          <%= f.submit "Update" %>
        </div>

        <h3>Cancel my account</h3>

        <div>Unhappy? <%= button_to "Cancel my account", registration_path(resource_name), data: { confirm: "Are you sure?", turbo_confirm: "Are you sure?" }, method: :delete %></div>

      <% end %>
    </div>
  </div>
</div>