<div class="nova_conta_view">
  <div class="janela_nova_conta">
    <div class="barra_azul">
      <img src="<%= asset_path('icone-windows.jpg') %>" alt="iconezinho windows">
      <%= ". Criar conta" %>
      <div class="botao-exit">
        <%= form_with url: destroy_user_session_path, method: :delete, local: true do %>
          <button type="submit">
            <span>X</span>
          </button>
        <% end %>
      </div>
    </div>

    <div class="nova_conta_data">
      <%= form_for(resource, as: resource_name, url: registration_path(resource_name)) do |user_form| %>
        <%= render "devise/shared/error_messages", resource: resource %>

        <div class="caixa_atributo_valor">
          <div class="atributo">
            Nome
          </div>
          <%= user_form.text_field :nome %>
        </div>

        <div class="caixa_atributo_valor">
          <div class="atributo">
            Email
          </div>
           <%= user_form.email_field :email %>
        </div>

        <div class="caixa_atributo_valor">
          <div class="atributo">
            Telefone
          </div>
            <%= user_form.text_field :telefone %>
        </div>

        <div class="caixa_atributo_valor">
          <div class="atributo">
            Endereço
          </div>
            <%= user_form.text_field :endereco %>
        </div>

        <div class="field">
          <%= user_form.label :password %>
          <% if @minimum_password_length %>
          <em>(<%= @minimum_password_length %> caracteres no mínimo)</em>
          <% end %><br />
          <%= user_form.password_field :password, autocomplete: "new-password" %>
        </div>

        <div class="field">
          <%= user_form.label :password_confirmation %><br />
          <%= user_form.password_field :password_confirmation, autocomplete: "new-password" %>
        </div>

        <div class="caixa_atributo_valor">
          <div class="atributo">
            Tipo de Usuário
          </div>
          <div class="valor_user">
            <div class="radio_cliente">
              <%= user_form.radio_button :role, 'Cliente', id: 'role_cliente' %>
              <%= user_form.label :role, 'Cliente', for: 'role_cliente' %>
            </div>

            <div class="radio_vendedor">
              <%= user_form.radio_button :role, 'Vendedor', id: 'role_vendedor' %>
              <%= user_form.label :role, 'Vendedor', for: 'role_vendedor' %>
            </div>                   
          </div>
        </div>

        <div id="cliente_fields" style="display: none;">
          <%= user_form.fields_for :cliente do |cliente_form| %>
            <%= render 'clientes/cliente_fields', f: cliente_form %>
          <% end %>
        </div>

        <div id="vendedor_fields" style="display: none;">
          <%= user_form.fields_for :vendedor do |vendedor_form| %>
            <%= render 'vendedors/vendedor_fields', f: vendedor_form %>
          <% end %>
        </div>

        <div class="actions">
          <%= user_form.submit "Criar conta" %>
        </div>
      <% end %>

      <%= render "devise/shared/links" %>
    </div>
  </div>
</div>

<script>
  document.addEventListener("DOMContentLoaded", function() {
  const clienteRadio = document.getElementById('role_cliente');
  const vendedorRadio = document.getElementById('role_vendedor');
  const clienteFields = document.getElementById('cliente_fields');
  const vendedorFields = document.getElementById('vendedor_fields');

  function toggleFields() {
    if (clienteRadio.checked) {
      clienteFields.style.display = 'block';
      vendedorFields.style.display = 'none';
    } else if (vendedorRadio.checked) {
      clienteFields.style.display = 'none';
      vendedorFields.style.display = 'block';
    }
  }

  clienteRadio.addEventListener('change', toggleFields);
  vendedorRadio.addEventListener('change', toggleFields);

  // Executa a função para verificar o campo selecionado ao carregar a página
  toggleFields();
});
</script>

<div class="footer">
  <div>
    <img src="<%= asset_path('windows-logo.png') %>" alt="logo windows">
  </div>
</div>