<div class="lista-produtos">
  <div class="search_bar">
    <%= form_with url: search_pages_path, method: :get, remote: true do |form| %>
      <div class="item-lista">
        <%= form.text_field :q, placeholder: "Pesquisar produtos..." %>
          <button class="delete-button">
            <img src="<%= asset_path('windows_lupa.png') %>" alt="Excluir produto", class="imagem_lixeira">
          </button>
        </div>
    <% end %>
  </div >

  <ul>
    <% if current_user.present? %>
      <% if current_user.Vendedor? %>
        <li>
          <div class="item-lista">
            <img src="<%= asset_path('windows_!_icon.png') %>" alt="iconezinho windows">
            <%= link_to "Criar Produto", new_produto_path %>
          </div>
        </li>
      <% end %>
    <% end %>

    <% produtos.each do |produto| %>
      <li>
        <div class="item-lista">
          <% if produto.emPromocao%>    
            <img src="<%= asset_path('windows_!_icon.png') %>" alt="iconezinho windows">
          <% else %>
            <img src="<%= asset_path('folder_icon.png') %>" alt="iconezinho windows">
          <% end %>

          <%= link_to "#{produto.nome}", produto_path(produto) %>

          <% if current_user.present? && current_user == produto.vendedor.user %>
            <%= form_with url: produto_path(produto), method: :delete, local: true do %>
              <button class="delete-button">
                <img src="<%= asset_path('windows_lixeira.png') %>" alt="Excluir produto", class="imagem_lixeira">
              </button>
            <% end %>
          <% end %>
        </div>  
      </li>
    <% end %>
  </ul>
  <div class="voltar">
    <%= link_to 'Voltar', home_user_path, class: 'button' %>
  </div>
</div>
