<div class="produto_show">
    <div class="janela_produto">
        <div class="barra_azul">
            <img src="<%= asset_path('icone-windows.jpg') %>" alt="iconezinho windows">
                            
            <%=". Produto"%>
            <div class="botao-exit">
                <%= form_with url: home_user_path, method: :get, local: true do %>
                    <button type="submit">
                        <span>X</span>
                    </button>
                <% end %>
            </div>
        </div>

        <div class="janela_produto_data">
            <div class="imagem">
                <% if @produto.imagem.present? %>
                    <% 
                        # Remove o prefixo \x (se houver) e converte hexadecimal para binário
                        hex_data = @produto.imagem.gsub(/\\x/, '')
                        binary_data = [hex_data].pack('H*')
                        
                        # Codifica o binário em Base64
                        base64_image = Base64.encode64(binary_data)
                        
                        # Define o tipo MIME da imagem, ajuste conforme necessário
                        mime_type = 'image/png' # ou 'image/jpeg', dependendo do tipo de imagem
                        
                        # Cria o data URI para a imagem
                        image_src = "data:#{mime_type};base64,#{base64_image}"
                    %>
                    <img src="<%= image_src %>" alt="Imagem do Produto">
                <% else %>
                    <img src="<%= asset_path('windows_!_icon.png') %>" alt="iconezinho windows">
                <% end %>


                <div class="interacao">
                    <% if user_signed_in? && current_user.Cliente? %>
                        <%= link_to "Conheça o vendedor", vendedor_path(@vendedor)%>
                        <% if Historico.find_by(cliente_nome: current_user.nome, produto_nome: @produto.nome, review_do_produto: false).present? %>
                            <%= link_to "Escreva uma review", new_review_produto_path(produto_id: @produto.id) %>
                        <% end %>
                    <% elsif user_signed_in? && current_user.Vendedor? %>
                        <% if current_user == @produto.vendedor.user %>
                            <%= link_to "Editar produto", edit_produto_path(@produto)%>
                        <% end %>
                    <% end %>
                </div>
            </div>
            <div class="data">
                <div class="caixa_atributo_valor">
                    <div class="atributo">
                        Nome
                    </div>
                    <div class="valor">
                        <%=" #{@produto.nome}"%>
                    </div>
                </div>

                <div class="caixa_atributo_valor">
                    <div class="atributo">
                        Nota
                    </div>
                    <div class="valor">
                        <%= @produto.nota%>
                    </div>
                </div>

                <div>
                    <% if @produto.emPromocao %>
                        <div class="caixa_atributo_valor">
                            <div class="atributo">
                                De
                            </div>
                            <div class="valor">
                                <%=" R$#{@produto.preco}"%>
                            </div>
                        </div>

                        <div class="caixa_atributo_valor">
                            <div class="atributo">
                                Por
                            </div>
                            <div class="valor">
                                <%= " R$#{@produto.preco_promocional} até #{@produto.data_fim}"%>
                            </div>
                        </div>
                    <% else %>
                        <div class="caixa_atributo_valor">
                            <div class="atributo">
                                Preço
                            </div>
                            <div class="valor">
                                <%= " R$#{@produto.preco}"%>
                            </div>
                        </div>
                    <% end %>
                </div>

                <div class="caixa_atributo_valor">
                    <div class="atributo">
                        Estoque
                    </div>
                    <div class="valor">
                        <%= " #{@produto.em_estoque}"%>
                    </div>
                </div>

                <div class="caixa_atributo_valor">
                    <div class="atributo">
                        Descrição
                    </div>

                    <div class="valor">
                        <%= " #{@produto.descricao}"%>
                    </div>
                </div>

                <% if user_signed_in? && current_user.Cliente?%>
                    <% if @produto.em_estoque <= 0 %>
                        <div class="caixa_atributo_valor">
                            <div class="atributo">
                                Produto fora do estoque 
                            </div>
                        </div>
                    <% else%>
                        <%= form_with url: criar_pedido_path, method: :post, local: true do |form| %>
                            <%= form.hidden_field :produto_id, name: "pedido[produto_id]", value: @produto.id %>
                            <%= form.hidden_field :cliente_id, name: "pedido[cliente_id]", value: current_user.cliente.id %>
                        
                            <div class="caixa_atributo_valor">
                                <div class="atributo">
                                    Quantidade
                                </div>
                        
                                <%= form.number_field :quantidade, name:"pedido[quantidade]", min: 1 %>
                            </div>
                            <div class="caixa_atributo_valor">
                                <%= form.submit 'Comprar', class: 'botao-comprar' %>
                            </div>
                        <% end %>
                    <% end %>
                <% end %>
            </div>
        </div>
    </div>

    <div class="janela_reviews">
        Reviews 
        <%= render partial: 'review_produtos/index', locals: { produto: @produto} %>
    </div>
</div>

<div class="footer">
    <div>
        <img src="<%= asset_path('windows-logo.png') %>" alt="logo windows">
    </div>
</div>
