<div class="produto_show">
    <div class="janela_produto">
        <div class="barra_azul">
            <img src="<%= asset_path('icone-windows.jpg') %>" alt="iconezinho windows">
                            
            <%=". Produto"%>
            <div class="botao-exit">
                <%= form_with url: home_user_path, method: :get, local: true do %>
                    <button type="submit">
                        <span>X</span>
                    </button>
                <% end %>
            </div>
        </div>

        <div class="janela_produto_data">
            <div class="imagem">
                <img src="<%= asset_path('windows_!_icon.png') %>" alt="iconezinho windows">
                <div class="interacao">
                    <% if user_signed_in? && current_user.Cliente? %>
                        <%= link_to "Conheça o vendedor", vendedor_path(@vendedor)%>
                        <% if ClienteProduto.find_by(cliente: current_user.cliente, produto: @produto).present? %>
                            <%= link_to "Escreva uma review", new_review_path(produto_id: @produto.id, vendedor_id: nil) %>
                        <% end %>
                    <% elsif user_signed_in? && current_user.Vendedor? %>
                        <% if current_user != @produto.vendedor.user %>
                            <% link_to "Editar produto", edit_produto_path(@produto)%>
                        <% end %>
                    <% end %>
                </div>
            </div>
            <div class="data">
                <div class="caixa_atributo_valor">
                    <div class="atributo">
                        Nome
                    </div>
                    <div class="valor">
                        <%=" #{@produto.nome}"%>
                    </div>
                </div>

                <div class="caixa_atributo_valor">
                    <div class="atributo">
                        Nota
                    </div>
                    <div class="valor">
                        <%=" #{@produto.nota}/5.0 estrelas"%>
                    </div>
                </div>

                <div>
                    <% if @produto.emPromocao %>
                        <div class="caixa_atributo_valor">
                            <div class="atributo">
                                De
                            </div>
                            <div class="valor">
                                <%=" R$#{@produto.preco}"%>
                            </div>
                        </div>

                        <div class="caixa_atributo_valor">
                            <div class="atributo">
                                Por
                            </div>
                            <div class="valor">
                                <%= " R$#{@produto.preco_promocional} até #{@produto.dataFim}"%>
                            </div>
                        </div>
                    <% else %>
                        <div class="caixa_atributo_valor">
                            <div class="atributo">
                                Preço
                            </div>
                            <div class="valor">
                                <%= " R$#{@produto.preco}"%>
                            </div>
                        </div>
                    <% end %>
                </div>

                <div class="caixa_atributo_valor">
                    <div class="atributo">
                        Estoque
                    </div>
                    <div class="valor">
                        <%= " #{@produto.emEstoque}"%>
                    </div>
                </div>

                <div class="caixa_atributo_valor">
                    <div class="atributo">
                        Descrição
                    </div>

                    <div class="valor">
                        <%= " #{@produto.descricao}"%>
                    </div>
                </div>

                <% if user_signed_in? && current_user.Cliente?%>
                    <% if @produto.emEstoque <= 0 %>
                        <div class="caixa_atributo_valor">
                            <div class="atributo">
                                Produto fora do estoque 
                            </div>
                        </div>
                    <% else%>
                        <%= form_with url: criar_pedido_path, method: :post, local: true do |form| %>
                            <%= form.hidden_field :produto_id, name: "pedido[produto_id]", value: @produto.id %>
                            <%= form.hidden_field :cliente_id, name: "pedido[cliente_id]", value: current_user.cliente.id %>
                        
                            <div class="caixa_atributo_valor">
                                <div class="atributo">
                                    Quantidade
                                </div>
                        
                                <%= form.number_field :quantidade, name:"pedido[quantidade]", min: 1 %>
                            </div>
                            <div class="caixa_atributo_valor">
                                <%= form.submit 'Comprar', class: 'botao-comprar' %>
                            </div>
                        <% end %>
                    <% end %>
                <% end %>
            </div>
        </div>
    </div>

    <div class="janela_reviews">
        Reviews 
        <%= render partial: 'reviews/index', locals: { produto: @produto, vendedor: nil, cliente: nil} %>
    </div>
</div>

<div class="footer">
    <div>
        <img src="<%= asset_path('windows-logo.png') %>" alt="logo windows">
    </div>
</div>
