<div class="vendedor_show">
    <div class="janela_vendedor">
        <div class="barra_azul">
            <img src="<%= asset_path('icone-windows.jpg') %>" alt="iconezinho windows">
                            
            <%=". Vendedor"%>
            <div class="botao-exit">
                <%= form_with url: home_user_path, method: :get, local: true do %>
                    <button type="submit">
                        <span>X</span>
                    </button>
                <% end %>
            </div>
        </div>

        <div class="janela_vendedor_data">
            <div class="imagem">
                 <% if @usuario.imagem.present? %>
                    <%= image_tag "data:image/jpeg;base64,#{Base64.strict_encode64(@usuario.imagem)}", alt: @usuario.nome %>
                <% else %>
                    <img src="<%= asset_path('windows_!_icon.png') %>" alt="Imagem do Produto">
                <% end %>

                <% if user_signed_in?  && current_user.Cliente? %>
                    <% if Historico.find_by(cliente_nome: current_user.nome, vendedor_nome: @vendedor.user.nome, review_do_vendedor: false).present? %>
                        <%= link_to "Escreva uma review", new_review_vendedor_path(vendedor_id: @vendedor.id) %>
                    <% end %>
                <% elsif user_signed_in?  && current_user.Vendedor? && (@vendedor = current_user.vendedor) %>
                    <div class="coluna">
                        <%= link_to "Editar perfil", edit_user_registration_path %>
                        <%= link_to 'Atualizar contato', edit_vendedor_path(@vendedor) %>
                    </div>
                    <div class="caixa_atributo_valor">
                        <div class="atributo">
                            Carteira
                        </div>
                        <div class="valor">
                            <%=" #{@vendedor.carteira}"%>
                        </div>
                    </div>
                <% end %>
            </div>

            <div class="data">
                <div class="caixa_atributo_valor">
                    <div class="atributo">
                        Nome
                    </div>
                    <div class="valor">
                        <%=" #{@usuario.nome}"%>
                    </div>
                </div>

                <div class="caixa_atributo_valor">
                    <div class="atributo">
                        Nota
                    </div>
                    <div class="valor">
                        <%= @vendedor.calcular_nota%>
                    </div>
                </div>

                <div class="caixa_atributo_valor">
                    <div class="atributo">
                        Vendas
                    </div>
                    <div class="valor">
                        <%=" #{@vendedor.totalVendas} vendas feitas"%>
                    </div>
                </div>

                <div class="caixa_atributo_valor">
                    <div class="atributo">
                        Contato
                    </div>
                    <div class="valor">
                        <%=" #{@vendedor.email_para_contato}"%>
                    </div>
                </div>

                <div class="caixa_atributo_valor">
                    <div class="atributo">
                        Endereço
                    </div>
                    <div class="valor">
                        <%=" #{@vendedor.user.endereco}"%>
                    </div>
                </div>
            </div>
        </div>
        
        Produtos
        <div class="produtos_content">
            <%= render partial: 'produtos/index', locals: { produtos: @produtos} %>
        </div>
    </div>

    <div class="janela_reviews">
        Reviews
        <%= render partial: 'review_vendedors/index', locals: { vendedor: @vendedor} %>
    </div>
</div>