<div class="vendedor_show">
    <div class="janela_vendedor">
        <div class="barra_azul">
            <img src="<%= asset_path('icone-windows.jpg') %>" alt="iconezinho windows">
                            
            <%=". Vendedor"%>
            <div class="botao-exit">
                <%= form_with url: home_user_path, method: :get, local: true do %>
                    <button type="submit">
                        <span>X</span>
                    </button>
                <% end %>
            </div>
        </div>

        <div class="janela_vendedor_data">
            <div class="imagem">
                <img src="<%= asset_path('windows_!_icon.png') %>" alt="iconezinho windows">

                <% if user_signed_in?  && current_user.Cliente? %>
                    <% if ClienteVendedor.find_by(cliente: current_user.cliente, vendedor: @vendedor).present? %>
                        <%= link_to "Escreva uma review", new_review_vendedor_path(vendedor_id: @vendedor.id) %>
                    <% end %>
                <% elsif user_signed_in?  && current_user.Vendedor? && (@vendedor = current_user.vendedor) %>
                    <%= link_to "Editar seu perfil", edit_vendedor_path(@vendedor) %>
                    <div class="caixa_atributo_valor">
                        <div class="atributo">
                            Carteira
                        </div>
                        <div class="valor">
                            <%=" #{@vendedor.carteira}"%>
                        </div>
                    </div>
                <% end %>
            </div>

            <div class="data">
                <div class="caixa_atributo_valor">
                    <div class="atributo">
                        Nome
                    </div>
                    <div class="valor">
                        <%=" #{@usuario.nome}"%>
                    </div>
                </div>

                <div class="caixa_atributo_valor">
                    <div class="atributo">
                        Nota
                    </div>
                    <div class="valor">
                        <%=" #{@vendedor.calcular_nota}/5.0 estrelas"%>
                    </div>
                </div>

                <div class="caixa_atributo_valor">
                    <div class="atributo">
                        Vendas
                    </div>
                    <div class="valor">
                        <%=" #{@vendedor.totalVendas} vendas feitas"%>
                    </div>
                </div>

                <div class="caixa_atributo_valor">
                    <div class="atributo">
                        Contato
                    </div>
                    <div class="valor">
                        <%=" #{@vendedor.emailParaContato}"%>
                    </div>
                </div>

                <div class="caixa_atributo_valor">
                    <div class="atributo">
                        Endereço
                    </div>
                    <div class="valor">
                        <%=" #{@vendedor.user.endereco}"%>
                    </div>
                </div>
            </div>
        </div>
        
        <!--<%if user_signed_in?%>
            <% if current_user.Vendedor? && (@vendedor = current_user.vendedor)%>
                Historico 
                <div class="historicos_content">
                    <%= render partial: 'historicos/index', locals: { vendedor: @vendedor, produto: nil, cliente: nil} %>
                </div>
            <% end %>
        <% end %>-->

        Produtos
        <div class="produtos_content">
            <%= render partial: 'produtos/index', locals: { produtos: @produtos} %>
        </div>
    </div>

    <div class="janela_reviews">
        Reviews
        <%= render partial: 'review_vendedors/index', locals: { vendedor: @vendedor} %>
    </div>
</div>

<div class="footer">
    <div>
        <img src="<%= asset_path('windows-logo.png') %>" alt="logo windows">
    </div>
</div>