<!-- IMPLEMENTAR DESTROY DA REVIEW CASO O CURRENT_USER SEJA O USER DA REVIEW-->

<% if defined?(vendedor) && vendedor.present? %>
    <% reviews_vendedor = ReviewVendedor.where(vendedor_id: vendedor.id) %>
    <% reviews_vendedor.each do |review| %>
        <div class="janela_review">
            <div class="barra_azul">
                <img src="<%= asset_path('icone-windows.jpg') %>" alt="iconezinho windows">
                        
                <%=". Review de #{review.cliente.user.nome}"%>
                <div class="botao-exit">
                    <button type="submit">
                        <span>X</span>
                    </button>
                </div>
            </div>

            <div class="review_data">
                <div class="caixa_atributo_valor">
                    <div class="atributo">
                        Nota
                    </div>
                    <div class="valor_nota">
                        <%=" #{review.nota}/5"%>
                    </div>
                </div>

                Comentario
                <div class="caixa_atributo_valor">
                    <div class="valor">
                        <%=" #{review.comentario}"%>
                    </div>
                </div>
            </div>
        </div>
    <% end %>
<% elsif defined?(cliente) && cliente.present? %>
    <% reviews_cliente = ReviewVendedor.where(cliente_id: cliente.id) %>
    <% reviews_cliente.each do |review| %>
        <div class="janela_review">
            <div class="barra_azul">
                <img src="<%= asset_path('icone-windows.jpg') %>" alt="iconezinho windows">
                
                <% if review.produto.nil? %>
                    <%=". #{review.vendedor.user.nome}"%>
                <% else %>
                    <%=". #{review.produto.nome}"%>
                <% end %>
                <div class="botao-exit">
                    <button type="submit">
                        <span>X</span>
                    </button>
                </div>

            </div>

            <div class="review_data">
               <div class="caixa_atributo_valor">
                    <div class="atributo">
                        Nota
                    </div>
                    <div class="valor_nota">
                        <%=" #{review.nota}/5"%>
                    </div>
                </div>

                Comentario
                <div class="caixa_atributo_valor">
                    <div class="valor">
                        <%=" #{review.comentario}"%>
                    </div>
                </div>
            </div>
        </div>
    <% end %>
<% end %>
