<!DOCTYPE html>
<html>
  <head>
    <title>ECommerce2</title>
    <meta name="viewport" content="width=device-width,initial-scale=1">
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag "application", "data-turbo-track": "reload" %>
    <%= javascript_importmap_tags %>

     <link rel="icon" href="<%= asset_path 'windows_globo_favicon.png' %>">
  </head>

  <body>
    <%= yield %>

    <div class="notices_alerts">
      <div class="notice">
        <p class="notice"><%= notice %></p>
      </div>

      <div class="alert">
        <p class="alert"><%= alert %></p>
      </div>
    </div>

    <div class="footer">
      <div>
        <img src="<%= asset_path('windows-logo.png') %>" alt="logo windows">
      </div>
    </div>
  </body>
</html>
